In [1]:
import pandas as pd

In [2]:
multi_index_df = pd.DataFrame([list('abcd'),
                               list('efgh'),
                               list('ijkl'),
                               list('mnop')],
                             columns = pd.MultiIndex.from_product([['one', 'two'],
                                                                   ['first', 'second']]))
multi_index_df

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In [14]:
# chained indexing access method

multi_index_df['one']['second']

0    b
1    f
2    j
3    n
Name: second, dtype: object

In [13]:
# chained indexing access method speed

%timeit -n 10000 multi_index_df['one']['second']

395 µs ± 1.77 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [15]:
# Location based access method

multi_index_df.loc[:, ('one', 'second')]

0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

In [12]:
# Location based access method speed

%timeit -n 10000 multi_index_df.loc[:, ('one', 'second')]

64.1 µs ± 1.86 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)