In [1]:
import pandas as pd
import numpy as np

In [3]:
# reindexing

series = pd.Series([2.6, 3.2, 6.7, 8.9], index=['b', 'd', 'c', 'a'])
series

b    2.6
d    3.2
c    6.7
a    8.9
dtype: float64

In [4]:
series1 = series.reindex(index=['a', 'b', 'c', 'd', 'e'])
series1

a    8.9
b    2.6
c    6.7
d    3.2
e    NaN
dtype: float64

In [12]:
# You can specify fill method and other kwargs
series2 = series1.reindex(method='ffill', index=['a', 'b', 'c', 'd', 'e', 'f'])
series2

a    8.9
b    2.6
c    6.7
d    3.2
e    NaN
f    NaN
dtype: float64

In [15]:
# Dropping is super easy. Thanks .drop()mb
series.drop('d')
series1.drop(['a', 'b'])

c    6.7
d    3.2
e    NaN
dtype: float64

In [18]:
# You have a ton of flexibility with dataframes
df = pd.DataFrame(np.arange(9).reshape(3, 3),
                  index=['cat', 'dog', 'frog'],
                  columns=['one', 'two', 'three'])
df

      one  two  three
cat     0    1      2
dog     3    4      5
frog    6    7      8

In [20]:
df.drop(['one', 'three'], axis=1)

      two
cat     1
dog     4
frog    7

In [21]:
df.drop(['cat', 'frog'], axis=0)

     one  two  three
dog    3    4      5

In [51]:
# Indexing, etc.
df[df > 1]
df.columns
df.one
df['one']
df[['one', 'three']]

      one  three
cat     0      2
dog     3      5
frog    6      8

In [42]:
# One nuance of using python slicing on andas is that end-point is inclusive
df[1:2]

     one  two  three
dog    3    4      5

In [55]:
# You can basic query a df using the bracket notation access method
df['one'][df['one'] > 1]

dog     3
frog    6
Name: one, dtype: int32

In [68]:
# loc and iloc
# It's awesome for carving out slices using integer based location or axis labels
df.loc['dog', ['one', 'three']]
df
df.iloc[1, [0, 2]]

one      3
three    5
Name: dog, dtype: int32

In [ ]:
# Arithmetic and Data Alignment