In [2]:
import pandas as pd

In [4]:
df1 = pd.read_csv('example1.csv')
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
# Storing data aka 'serialization'
# Storing in pickle format is efficient binary data format
df1.to_pickle('example1pickle')

In [6]:
df2 = pd.read_pickle('example1pickle')
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
%timeit df3 = pd.read_csv('example1.csv')
%timeit df4 = pd.read_pickle('example1pickle')

# What's the point? Likely need larger examples

797 µs ± 8.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
753 µs ± 5.19 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
# HDF5 format